<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: page_head(title=~{::title})">
<title>Bootstrap Admin Theme v3</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- jQuery UI -->
<link
	href="css/jquery-ui.css"
	rel="stylesheet" media="screen" th:href="@{/css/jquery-ui.css}">

<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<!-- styles -->
<link href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="header" th:replace="index :: page_header">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="navbar navbar-inverse" role="banner">
						<nav
							class="collapse navbar-collapse bs-navbar-collapse navbar-right"
							role="navigation">
							<ul class="nav navbar-nav">
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown">My Account <b class="caret"></b></a>
									<ul class="dropdown-menu animated fadeInUp">
										<li><a href="profile.html">Profile</a></li>
										<li><a href="login.html">Logout</a></li>
									</ul></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content">
		<div class="row">
			<div class="col-md-2">
				<div class="sidebar content-box" th:replace="index::.sidebar"
					style="display: block;">
					<ul class="nav">
						<!-- Main menu -->
						<li><a href="index.html"><i
								class="glyphicon glyphicon-home"></i> Dashboard</a></li>
						<li><a href="calendar.html"><i
								class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
						<li><a href="stats.html"><i
								class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a></li>
						<li class="current"><a href="tables.html"><i
								class="glyphicon glyphicon-list"></i> Tables</a></li>
						<li><a href="buttons.html"><i
								class="glyphicon glyphicon-record"></i> Buttons</a></li>
						<li><a href="editors.html"><i
								class="glyphicon glyphicon-pencil"></i> Editors</a></li>
						<li><a href="forms.html"><i
								class="glyphicon glyphicon-tasks"></i> Forms</a></li>
						<li class="submenu"><a href="#"> <i
								class="glyphicon glyphicon-list"></i> Pages <span
								class="caret pull-right"></span>
						</a> <!-- Sub menu -->
							<ul>
								<li><a href="login.html">Login</a></li>
								<li><a href="signup.html">Signup</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10">
				<form class="form-horizontal" method="post" th:object="${task}" data-toggle="validator">
					<div class="form-group">
						<label for="taskName" class="control-label col-sm-3">任务名</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{taskName}" class="form-control"
								placeholder="任务名" required autofocus />
						</div>
					</div>
					<div class="form-group">
						<label for="valueWayId" class="control-label col-sm-3">计费方式</label>
						<div>
			  					<p>
			  						<select class="selectpicker" th:field="*{valueWayId}" >
										    <option th:each="valueWay : ${allValueWays}" th:value="${valueWay.id}" th:text="${valueWay.valueWayName}">CPS</option>
									 </select>
			  					</p>
			  			</div>
			  		</div>
			  		
			  			<div class="form-group">
							<label for="showCount" class="control-label col-sm-3">展现量</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{showCount}"
									class="form-control" placeholder="如：10000" />
							</div>
						</div>
						<div class="form-group">
							<label for="clickCount" class="control-label col-sm-3">点击量</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{clickCount}"
									class="form-control" placeholder="如：10000" />
							</div>
						</div>
						<div class="form-group">
							<label for="unitPrice" class="control-label col-sm-3">销售单价</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{unitPrice}"
									class="form-control" placeholder="如：1" />
							</div>
						</div>
						<div class="form-group">
							<label for="isPublic" class="control-label col-sm-3">是否对公</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{isPublic}"
									class="form-control" placeholder="对公则输入：1，对私则输入：0" />
							</div>
						</div>
						<div class="form-group">
							<label for="seller" class="control-label col-sm-3">销售方</label>
							<div>
			  				<p>
								<select class="selectpicker" th:field="*{seller}">
										    <option th:each="seller : ${allSellers}" th:value=${seller.id} th:text="${seller.name}"></option>
								</select>
			  				</p>
			  			</div>
						</div>
					<div class="form-group">
						<label for="settle" class="control-label col-sm-3">结算周期</label>
						<div>
			  				<p>
								<select class="selectpicker" th:field="*{settle}">
										    <option th:each="settle : ${allSettles}" th:value=${settle.id} th:text="${settle.settleName}"></option>
								</select>
			  				</p>
			  			</div>
			  		</div>
					<div class="form-group">
							<label for="systemStr" class="control-label col-sm-3">系统</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{system}"
									class="form-control" />
							</div>
					</div>
					<div class="form-group">
							<label for="descStr" class="control-label col-sm-3">备注</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{descStr}"
									class="form-control" />
							</div>
					</div>
					<div class="form-group">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="col-sm-6 col-sm-offset-3">
							<button type="submit" class="btn btn-primary">保存</button>
							<button class="btn btn-default" onclick="history.go(-1)">返回</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">

			<div class="copy text-center">
				Copyright 2017 <a href='#'>Website</a> 京ICP备17057809号
			</div>

		</div>
	</footer>

	<link href="vendors/datatables/dataTables.bootstrap.css"
		rel="stylesheet" media="screen" th:href="@{/vendors/datatables/dataTables.bootstrap.css}">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<!-- jQuery UI -->
	<script src="js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

	<script src="vendors/datatables/js/jquery.dataTables.min.js" th:src="@{/vendors/datatables/js/jquery.dataTables.min.js}"></script>

	<script src="vendors/datatables/dataTables.bootstrap.js" th:src="@{/vendors/datatables/dataTables.bootstrap.js}"></script>

	<script src="js/custom.js" th:src="@{/js/custom.js}"></script>
	<script src="js/tables.js" th:src="@{/js/tables.js}"></script>
	<script src="js/validator.js" th:src="@{/js/validator.js}"></script>
</body>
</html>