<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:fragment="page_head(title)">
    <title th:replace="${title} ?: _">管理平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
	href="css/jquery-ui.css"
	rel="stylesheet" media="screen" th:href="@{/css/jquery-ui.css}">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- styles -->
    <link href="css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="header" th:fragment="page_header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="" th:href="@{/}">管理平台</a></h1>
	              </div>
	           </div>
	           <div class="col-md-5">
	              <div class="row">
	                <div class="col-lg-12">
	                  <div class="input-group form">
	                       
	                  </div>
	                </div>
	              </div>
	           </div>
	           <div class="col-md-2">
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li class="dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span th:text="${#authentication.name}">My Account</span> <b class="caret"></b></a>
	                        <ul class="dropdown-menu animated fadeInUp">
	                          <li>
	                          	<form th:action="@{/logout}" method="post">
	                          		<button type="submit" class="btn btn-link">Logout</button>
	                          	</form>
	                          </li>
	                        </ul>
	                      </li>
	                    </ul>
	                  </nav>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
					<li><a th:href="@{/users}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS')"><i class="glyphicon glyphicon-list"></i> 用户管理</a></li>
                    <li><a th:href="@{/sellers}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS','ROLE_OPERATOR','ROLE_ADFINANCIAL','ROLE_CHFINANCIAL')"><i class="glyphicon glyphicon-list"></i> 广告主列表</a></li>
                    <li><a th:href="@{/tasks}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS','ROLE_OPERATOR','ROLE_ADFINANCIAL','ROLE_CHFINANCIAL')"><i class="glyphicon glyphicon-list"></i> 任务列表</a></li>
                    <li><a th:href="@{/subTasks}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS','ROLE_OPERATOR','ROLE_ADFINANCIAL','ROLE_CHFINANCIAL')"><i class="glyphicon glyphicon-list"></i> 子任务列表</a></li>
                    <li><a th:href="@{/channels}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS','ROLE_OPERATOR','ROLE_ADFINANCIAL','ROLE_CHFINANCIAL')"><i class="glyphicon glyphicon-list"></i> 渠道列表</a></li>
                    <!-- <li><a th:href="@{/webSites}"><i class="glyphicon glyphicon-list"></i> 域名管理</a></li>-->
                    <li><a th:href="@{/valueItems}"><i class="glyphicon glyphicon-list"></i> 渠道任务列表</a></li>
                    <li><a th:href="@{/sellerstatistic}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS','ROLE_OPERATOR')"><i class="glyphicon glyphicon-list"></i> 销售方预估表</a></li>
                    <li><a th:href="@{/channelstatistic}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS','ROLE_OPERATOR','ROLE_CHANNEL')"><i class="glyphicon glyphicon-list"></i> 渠道预估表CPC</a></li>
                    <li><a th:href="@{/channelstatisticcpas}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS','ROLE_OPERATOR','ROLE_CHANNEL')"><i class="glyphicon glyphicon-list"></i> 渠道预估表CPACPS</a></li>
                    <li><a th:href="@{/sellersettle}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS','ROLE_ADFINANCIAL')"><i class="glyphicon glyphicon-list"></i> 销售方结算表</a></li>
                    <li><a th:href="@{/channelsettle}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_BOSS','ROLE_CHFINANCIAL')"><i class="glyphicon glyphicon-list"></i> 渠道结算表</a></li>
                    <!-- <li><a th:href="@{/valueItemStatistic}"><i class="glyphicon glyphicon-list"></i> 效果报告</a></li>                    
					<li><a th:href="@{/myincome}"><i class="glyphicon glyphicon-list"></i> 佣金记录</a></li> -->
					<li><a th:href="@{/myprofile}"><i class="glyphicon glyphicon-list"></i> 我的资料</a></li>
                </ul>
             </div>
		  </div>
		  <div class="col-md-10">
		  	
		  </div>
		</div>
    </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2017 <a href='#'>Website</a> 京ICP备17057809号
            </div>
            
         </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js/}"></script>
    <script src="js/custom.js" th:src="@{/js/custom.js}"></script>
  </body>
</html>